//
//  _sidebar.scss
//
//  Created by Poll Castillo on 14/02/2023
//

.app {
  &_sidebar {
    background-color: $dark;
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    padding: 2px;

    &_container {
      width: 100%;
    }
  }

  .sidebar_item {
    span {
      display: flex;
      align-items: center;
      width: 100%;
      color: $white;
      padding: 16px;
      margin: 8px 0;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s all ease-in-out;

      .fa-regular {
        font-size: 22px;
        margin-right: 8px;
        color: $white;
      }

    }
    :hover {
      background-color: lighten($dark, 8%);
    }

    .sidebar_subitems {
      display: none;
      padding: 8px;
      margin-top: 4px;
      background-color: darken($dark, 3%);
      border-radius: 6px;
      border-left: 3px solid $blue;

      .fa-regular {
        font-size: 16px;
      }

      .isActive {
        background-color: lighten($dark, 20%);
      }

      .sidebar_subitem {
        margin: 4px 0;
        border-radius: 4px;
        text-align: left;

        .sidebar_subitem_label {
          display: flex;
          align-items: center;
          gap: 8px;
          width: 100%;
          padding: 10px 12px;
          color: lighten($slategray, 20%);
          border-radius: 4px;
          transition: 0.2s all ease-in-out;

          .fa-regular {
            color: inherit;
          }
        }

        &:hover .sidebar_subitem_label {
          background-color: lighten($dark, 12%);
          color: $white;
        }

        &.isActive .sidebar_subitem_label {
          background-color: lighten($dark, 18%);
          color: $blue;
        }
      }
    }

    &.isActive {
      background-color: lighten($dark, 20%);
      color: $gray;
      border-radius: 4px;

      &:hover {
        background-color: darken($dark, 6%);
        color: $blue;
      }

      & .sidebar_subitems {
        display: block !important;
        background-color: darken($dark, 6%);
      }
    }

    .sidebar_subitem_label {
      font-size: 14px;
    }
  }
}

.sidebar_section {
    display: block;
    margin-top: 24px;
}

.file_template {
  display: flex;

  .fa-file-csv {
      font-size: 34px;
      margin-right: 8px;
  }

  .filename {
      font-weight: 700;
      font-size: 16px;
  }

  .filelink {
      color: $slategray;
      text-decoration: none;

      &:hover {
          color: $blue;
      }
  }
}

.drop_zone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: lighten($slategray, 10%);
  width: 100%;
  height: 200px;
  background-color: rgba($slategray, 0.1);
  border-radius: 8px;
  border: 1px dashed $slategray;
}

.section_title {
    font-size: 16px;
    margin-bottom: 16px;
    color: $slategray;
}